#自动加载配置文件
check file api.cntv.cn-monit.cfg path /usr/local/monit/etc/inc/api.cntv.cn-monit.cfg.cfg
	group api.cntv.cn-monit
	if changed sha1 checksum 
		then exec "/usr/local/monit/bin/monit -c /usr/local/monit/etc/monitrc reload"

#check httpd##2015/2/15##
check process apache with pidfile /usr/local/apache2/logs/httpd.pid
	group api.cntv.cn-monit
	start program = "/usr/local/apache2/bin/httpd -k start" with timeout 10 seconds
	stop program  = "/usr/local/apache2/bin/httpd -k stop"
	if cpu > 60% for 5 cycles then restart
	if children > 700 then restart
	if loadavg(5min) greater than 20 for 8 cycles then stop
