#防止敏感信息泄露
data/saltServersList.csv
data/pki/master.pem
data/pki/master.pub
pillar/myShadow.sls
pillar/svnServer.sls
salt/project/cntvSvnServer/httpd/conf.d/svn-vhost.conf
salt/project/cntvSvnServer/svnadmin/data/config.ini
shell/highstate.sh
salt/project/weakPassScan/ips.list
salt/project/weakPassScan/users.list
