#防止敏感信息泄露

data/saltServersList.csv

salt/openldap/files/slapd.slave.conf
salt/openldap/files/svn/svn-vhost.conf
salt/project/cntvSvnServer/httpd/conf.d/svn-vhost.conf
salt/project/cntvSvnServer/svnadmin/data/config.ini

shell/checkSaltKey.sh
shell/highstate.sh

pillar/myShadow.sls
pillar/svnServer.sls

data/pki/master.pem
data/pki/master.pub

salt/project/weakPassScan/ips.list
salt/project/weakPassScan/users.list

*.rpm
*.parcel