master: saltMaster
backup_mode: minion
log_file: /var/log/salt/minion
log_level: info
dns_check: false

#grains:
#  managed: true
#{% if pillar['roles'] is iterable %}
#  roles:
#{%- for role in pillar['roles'] %}
#    - {{ role -}}
#{%- endfor %}
#{%- endif %}
#
#{%- if pillar['location'] is iterable %}
#  location:
#{%- for location in pillar['location'] %}
#    - {{ location -}}
#{%- endfor %}
#{%- endif %}
