#http://elasticsearch-users.115913.n3.nabble.com/write-throughput-test-on-elasticsearch-9-high-configuration-nodes-cluster-td4033887.html

input {
  redis {
    host => '{{ pillar["logstash"]["logstash-indexerBeaver"]["redisIp"] }}'
    port => '{{ pillar["logstash"]["logstash-indexerBeaver"]["redisPort"] }}'
    data_type => 'list' 
    key => '{{ pillar["logstash"]["logstash-indexerBeaver"]["redisKey"] }}'
    type => 'beaverLog'
    batch_count => 2000
    threads => 5
  }
}

filter {
  ruby {
    code => "event['@logtime'] = event['@timestamp'].strftime('%Y-%m-%d %H:%M:%S.%L')"
  }
  if [type] == "apiWebLog" {
    grok {
      patterns_dir => "/etc/logstash/grok-patterns"
      match => { "message" => "%{apiWebLog}" }
      tag_on_failure => ["_grokFail"]
    }
    geoip {
      source => "clientip"
      add_tag => ["geoip"]
      database => "/etc/logstash/GeoLiteCity.dat"
    }
    metrics {
      meter => "events"
      add_field => { "type" => "apiWebLog" }
      add_tag => [ "meter" ]
      ignore_older_than => 60
    }
  }
  if [type] == "cdnSourcelighttpd" {
    grok {
      patterns_dir => "/etc/logstash/grok-patterns"
      match => { "message" => "%{cdnSourcelighttpd}" }
      tag_on_failure => ["_grokFail"]
    }
  }
  if [type] == "cdnSourceapache" {
    grok {
      patterns_dir => "/etc/logstash/grok-patterns"
      match => { "message" => "%{cdnSourceapache}" }
      tag_on_failure => ["_grokFail"]
    }
  }
  if [type] == "apiCmsInterfaceLog" {
    grok {
      patterns_dir => "/etc/logstash/grok-patterns"
      match => { "message" => "%{apiCmsInterfaceLog}" }
      tag_on_failure => ["_grokFail"]
    }
    metrics {
      meter => "events"
      add_field => { "type" => "apiCmsInterfaceLog" }
      add_tag => [ "meter" ]
      ignore_older_than => 60
    }
  }
  if [type] == "apiCmsInterfaceLogNew" {
    grok {
      patterns_dir => "/etc/logstash/grok-patterns"
      match => { "message" => "%{apiCmsInterfaceLogNew}" }
      tag_on_failure => ["_grokFail"]
    }
    metrics {
      meter => "events"
      add_field => { "type" => "apiCmsInterfaceLogNew" }
      add_tag => [ "meter" ]
      ignore_older_than => 60
    }
  }
  if [type] == "tvWebLog" {
    grok {
      patterns_dir => "/etc/logstash/grok-patterns"
      match => { "message" => "%{tvWebLog}" }
      tag_on_failure => ["_grokFail"]
    }
    metrics {
      meter => "events"
      add_field => { "type" => "tvWebLog" }
      add_tag => [ "meter" ]
      ignore_older_than => 60
    }
  }
  if [type] == "apiAppLog" {
    mutate {
      gsub => ['message', "\n", "#"]
    }
    grok {
      patterns_dir => "/etc/logstash/grok-patterns"
      match => { "message" => "%{apiAppLog}" }
      tag_on_failure => ["_grokFail"]
    }
    metrics {
      meter => "events"
      add_field => { "type" => "apiAppLog" }
      add_tag => [ "meter" ]
      ignore_older_than => 60
    }
  }
}

output { 
  elasticsearch_http {
    host => localhost
    port => 9200
    flush_size => 10000
    idle_flush_time => 5
    workers => 8
  }
  #stdout { codec => rubydebug }
}

