#http://elasticsearch-users.115913.n3.nabble.com/write-throughput-test-on-elasticsearch-9-high-configuration-nodes-cluster-td4033887.html

input {
  redis {
    host => '{{ pillar["logstash"]["logstash-indexerBeaver"]["redisIp"] }}'
    port => '{{ pillar["logstash"]["logstash-indexerBeaver"]["redisPort"] }}'
    data_type => 'list' 
    key => '{{ pillar["logstash"]["logstash-indexerBeaver"]["redisKey"] }}'
    batch_count => 2000
    threads => 5
  }
}

filter {
  #ruby {
  #  code => "event['@logtime'] = Time.parse(event['@timestamp'].to_s).strftime('%Y-%m-%d %H:%M:%S.%L')"
  #}
  mutate {
    add_field => { "fromAgent" => "redis-{{ grains["id"] }}" }
  }
  if [type] == "COMBINEDAPACHELOG" {
    grok {
      patterns_dir => "/etc/logstash/grok-patterns"
      match => { "message" => "%{COMBINEDAPACHELOG}" }
      tag_on_failure => ["_grokFail"]
    }
    geoip {
      source => "clientip"
      add_tag => ["geoip"]
      database => "/etc/logstash/GeoLiteCity.dat"
    }
  }
  if [type] == "apiWebLog" {
    grok {
      patterns_dir => "/etc/logstash/grok-patterns"
      match => { "message" => "%{apiWebLog}" }
      tag_on_failure => ["_grokFail"]
    }
    geoip {
      source => "clientip"
      add_tag => ["geoip"]
      database => "/etc/logstash/GeoLiteCity.dat"
    }
    metrics {
      meter => "events"
      add_field => { "type" => "apiWebLog" }
      add_tag => [ "meter" ]
      ignore_older_than => 60
    }
  }
  if [type] == "cdnSourcelighttpd" {
    grok {
      patterns_dir => "/etc/logstash/grok-patterns"
      match => { "message" => "%{cdnSourcelighttpd}" }
      tag_on_failure => ["_grokFail"]
    }
  }
  if [type] == "cdnSourceapache" {
    grok {
      patterns_dir => "/etc/logstash/grok-patterns"
      match => { "message" => "%{cdnSourceapache}" }
      tag_on_failure => ["_grokFail"]
    }
  }
  if [type] == "apiCmsInterfaceLog" {
    grok {
      patterns_dir => "/etc/logstash/grok-patterns"
      match => { "message" => "%{apiCmsInterfaceLog}" }
      tag_on_failure => ["_grokFail"]
    }
    metrics {
      meter => "events"
      add_field => { "type" => "apiCmsInterfaceLog" }
      add_tag => [ "meter" ]
      ignore_older_than => 60
    }
  }
  if [type] == "apiCmsInterfaceLogNew" {
    grok {
      patterns_dir => "/etc/logstash/grok-patterns"
      match => { "message" => "%{apiCmsInterfaceLogNew}" }
      tag_on_failure => ["_grokFail"]
    }
    metrics {
      meter => "events"
      add_field => { "type" => "apiCmsInterfaceLogNew" }
      add_tag => [ "meter" ]
      ignore_older_than => 60
    }
  }
  if [type] == "tvWebLog" {
    grok {
      patterns_dir => "/etc/logstash/grok-patterns"
      match => { "message" => "%{tvWebLog}" }
      tag_on_failure => ["_grokFail"]
    }
    metrics {
      meter => "events"
      add_field => { "type" => "tvWebLog" }
      add_tag => [ "meter" ]
      ignore_older_than => 60
    }
  }
  if [type] == "tvWebErrorLog" {
    mutate {
      gsub => ['message', "$", "#"]
    }
    grok {
      patterns_dir => "/etc/logstash/grok-patterns"
      match => { "message" => "%{tvWebErrorLog}" }
      tag_on_failure => ["_grokFail"]
    }
  }
    if [type] == "proftpd" {
    grok {
      patterns_dir => "/etc/logstash/grok-patterns"
      match => { "message" => "%{TMSproftpdLog}" }
      tag_on_failure => ["_grokFail"]
    }
  }
  if [type] == "apiAppLog" {
    mutate {
      gsub => ['message', "\n", "#"]
    }
    mutate {
      gsub => ['message', "$", "##"]
    }
    grok {
      patterns_dir => "/etc/logstash/grok-patterns"
      match => { "message" => "%{apiAppLog}" }
      tag_on_failure => ["_grokFail"]
    }
    grok {
      patterns_dir => "/etc/logstash/grok-patterns"
      match => { "request" => "%{apiAppLogRequest}" }
      tag_on_failure => ["_grokFail"]
    }
    kv {
      source => "requestParam"
      field_split => "?&"
      prefix => "para_"
    }
    metrics {
      meter => "events"
      add_field => { "type" => "apiAppLog" }
      add_tag => [ "meter" ]
      ignore_older_than => 60
    }
  }
}

output {
  elasticsearch {
    host => ["10.64.0.1:9200","10.64.0.2:9200","10.64.0.3:9200"]
    port => 9200
    protocol => "http"
    flush_size => 10000
    idle_flush_time => 5
    workers => 8
    #template => "/etc/logstash/logstashTemplate.json"
    #template_overwrite => true
  }
  #stdout { codec => rubydebug }
}

