#自动加载配置文件
CHECK FILE {{role}}.cfg PATH /usr/local/monit/etc/inc/{{role}}.cfg
	IF CHANGED SHA1 CHECKSUM
		THEN EXEC "/usr/local/monit/bin/monit -c /usr/local/monit/etc/monitrc reload"

#服务进程
CHECK PROCESS {{role}}
	WITH PIDFILE /var/run/{{role}}.pid
	START PROGRAM = "/etc/init.d/{{role}} start" with timeout 30 seconds
	STOP PROGRAM  = "/etc/init.d/{{role}} stop"
	IF CHANGED PID FOR 5 CYCLES THEN RESTART
	IF CHANGED PID THEN ALERT
	IF 6 RESTARTS WITHIN 60 CYCLES THEN UNMONITOR